@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/*/ global /*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #4b5075;
  background-color: #fdfdfd;
}

.visualizer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.visualizer h3 {
  letter-spacing: 0.1em;
}


/*/ grid /*/
.grid {
  border: 2px solid #4b5075;
  border-radius: 0.2em;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.node {
  margin: 0.5px;
  width: 15px;
  height: 15px;
  border: 1px solid #e6e6ec;
  display: inline-block;
  cursor: pointer;
}

.start {
  background-color: #9d32e4;
  mask-image: url('/src/start-node.svg');
  -webkit-mask-image: url('/src/start-node.svg');  
  background-size: 25em;
}

.end {
  background-color: #9d32e4;
  border-radius: 0.2em;
}

.wall {
  background-color: #363a5a;
}

.maze-animation {
  width: 15px;
  height: 15px;
  display: inline-block;
  animation-name: maze-animation;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes maze-animation{
  0% {
    transform: scale(0.3);
    background-color: #4b50758e;
  }
  50% {
    transform: scale(0.5);
    background-color: #4b5075c1;
  }
  75% {
    transform: scale(0.7);
    background-color: #4b5075ea;
  }
  100% {
    transform: scale(1);
    background-color: #4b5075;
  }
}

.visited-animation {
  animation-name: visited-animation;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
}

@keyframes visited-animation{
  0% {
    transform: scale(0.3);
    background-color: #0516ff;
    border: 1px solid #fa50a8;
  }
  50% {
    transform: scale(0.5);
    background-color: #0516ff72;
    border: 1px solid #02a0ef;
  }
  75% {
    transform: scale((0.7));
    background-color: #02a0eff5;
    border: 1px solid #0516ff;
  }
  100% {
    transform: scale(1);
      background-color: #d1e4edcf;
   }
}

.shortPath-animation {
  width: 15px;
  height: 15px;
  display: inline-block;
  animation-name: pathAnimation;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes pathAnimation{
  0% {
    transform: scale(0.3);
    background-color: #fa50a8af;
  }
  50% {
    transform: scale(0.5);
    background-color: #fa50a8d7;
  }
  75% {
    transform: scale((0.7));
    background-color: #fa50a8ef;
  }
  100% {
    transform: scale(1);
    background-color: #fa50a8;
  }
}


/*/ header /*/
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1em;
  height: 10vh;
  width: max-content;
}

.details {
  display: flex;
  gap: 0.5em;
}

.details div {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.details .index {
  height: 10px;
  width: 10px;
}

#start {
  background-color: #9d32e4;
  mask-image: url('/src/start-node.svg');
  -webkit-mask-image: url('/src/start-node.svg');  
  background-size: 25em;
  height: 15px;
  width: 15px;
}

#end {
  background-color: #9d32e4;
  border-radius: 0.1em;
}

#wall {
  background-color: #4b5075;
}

#path {
  background-color: #fa50a8;
}

#visited-one {
  background-color: #02a0eff5;
}

#visited-two {
  background-color: #dedcff;
}

#not-visited{
  border: 1px solid #e6e6ec;
  background-color: #fdfdfd;
}

.header .algorithms {
  text-align: center;
}

.header button {
  margin: 0.1em;
  height: 2em;
  width: 6em;
  border-radius: 0.2em;
  outline: none;
  border: 1px solid #4b5075;
  cursor: pointer;
}

.header .algorithm-btn {
  background-color: #4b5075;
  color: #fdfdfd;
}

.header .reset-btn {
  color: #363a5a;
  background-color: #fdfdfd;
}

.error {
  display: none;
}

.error-checked {
  color: #fc0101;
  display: block;
}